body{
    font-family: 'poppins', sans-serif;
    margin: 0;
}
h1{
   font-size: 55px; 
   
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
.flxible-container{
    display: flex;
    margin-bottom: 150px;
}
#side-effect{
    border-radius: 7px    

}
.brown{
    color:darkgoldenrod;
}
.half-width{
    width: 70%;
    padding-left: 5%;
}
.half-width img{
   width: 40%;
   padding-left: 15%; 
   float: left;
}
.link-button{
    color: white;
    background-image: linear-gradient(rgb(224, 184, 5), rgb(99, 4, 4) );
    padding: 2px, 80px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 10px 40px;
    display: inline-table;
}
.web-development{
    width: 90%;
    border: 25px;
    border-radius: 2%;
    padding: 30px;
    text-align: center;
}
.web-development img{
    width: 100%;
}
#mission-2022{
    text-align: center;
}
.half-side{
    width: 50%;
    padding-right: 10%;
}
.half-side img{
    width: 60%;
    padding-left: 15%;
    float: left;
}
.half-wide{
    width: 50%;
    padding-left: 5%;
}
.half-wide img{
    width: 60%;
    padding-right: 15%;
    float: right;    
}
#mission{
    background-color: rgb(204, 252, 245);
    margin: 10px 10px;
}
#vision{
    background-color: rgb(252, 203, 203);
    margin: 10px 10px;
}
#goal{
    background-color: rgb(235, 248, 210);
    margin: 10px 10px;   
}